:root{
    --if-color: #FA9822;
    --fr24-color: #F7BF24;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-size: 1.6rem;
    background: rgb(255, 83, 83);
    background: -webkit-linear-gradient(135deg, var(--if-color), var(--fr24-color));
    background: -o-linear-gradient(135deg, var(--if-color), var(--fr24-color));
    background: -moz-linear-gradient(135deg, var(--if-color), var(--fr24-color));
    background-image: linear-gradient(135deg, var(--if-color), var(--fr24-color));
}

.download-wrapper {
    margin-top: -100px;
}

.download-wrapper h1 {
    text-align: center;
    color: #fff;
    margin: auto;
    height: 30px;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

.download-wrapper input,
.download-wrapper button {
    border-radius: 15px;
    padding: 1rem;
    border: none;
    margin-top: 30px;
    text-align: center;
}

.download-wrapper button {
    cursor: pointer;
}