.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "day-30 day-31 day-31 mid-section . ."
    "day-26 day-27 day-28 mid-section day-25 ."
    "day-21 day-22 day-23 mid-section day-20 ."
    "day-16 day-17 day-18 mid-section day-15 ."
    "day-11 day-12 day-13 mid-section day-10 ."
    "day-6 day-7 day-8 mid-section day-5 ."
    "day-1 day-2 day-3 mid-section . .";
    height: 600px;
    width: 50%;
}

.grid-container > div {
    text-align: center;
  }

.day-1 {
  grid-area: day-1;
  border: 1px solid black;
}

.day-2 {
  grid-area: day-2;
  border: 1px solid black;
}

.day-3 {
  grid-area: day-3;
  border: 1px solid black;
}

.day-6 {
  grid-area: day-6;
  border: 1px solid black;
}

.day-7 {
  grid-area: day-7;
  border: 1px solid black;
}

.day-8 {
  grid-area: day-8;
  border: 1px solid black;
}

.day-11 {
  grid-area: day-11;
  border: 1px solid black;
}

.day-12 {
  grid-area: day-12;
  border: 1px solid black;
}

.day-13 {
  grid-area: day-13;
  border: 1px solid black;
}

.day-16 {
  grid-area: day-16;
  border: 1px solid black;
}

.day-17 {
  grid-area: day-17;
  border: 1px solid black;
}

.day-18 {
  grid-area: day-18;
  border: 1px solid black;
}

.day-21 {
  grid-area: day-21;
  border: 1px solid black;
}

.day-22 {
  grid-area: day-22;
  border: 1px solid black;
}

.day-23 {
  grid-area: day-23;
  border: 1px solid black;
}

.day-26 {
  grid-area: day-26;
  border: 1px solid black;
}

.day-27 {
  grid-area: day-27;
  border: 1px solid black;
}

.day-28 {
  grid-area: day-28;
  border: 1px solid black;
}

.day-30 {
  grid-area: day-30;
  border: 1px solid black;
}

.day-31 {
  grid-area: day-31;
  border: 1px solid black;
}

.day-5 {
  grid-area: day-5;
  border: 1px solid black;
}

.day-10 {
  grid-area: day-10;
  border: 1px solid black;
}

.day-15 {
  grid-area: day-15;
  border: 1px solid black;
}

.day-20 {
  grid-area: day-20;
  border: 1px solid black;
}

.day-25 {
  grid-area: day-25;
  border: 1px solid black;
}

.mid-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "day-29"
    "day-29"
    "day-24"
    "day-24"
    "day-19"
    "day-19"
    "day-14"
    "day-14"
    "day-9"
    "day-9"
    "day-4"
    "day-4"
    ".";
  grid-area: mid-section;
}

.day-29 {
  grid-area: day-29;
  border: 1px solid black;
}

.day-24 {
  grid-area: day-24;
  border: 1px solid black;
}

.day-19 {
  grid-area: day-19;
  border: 1px solid black;
}

.day-14 {
  grid-area: day-14;
  border: 1px solid black;
}

.day-9 {
  grid-area: day-9;
  border: 1px solid black;
}

.day-4 {
  grid-area: day-4;
  border: 1px solid black;
}
